<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Verdana, sans-serif;
            font-weight: normal;
            text-align: center;
        }

        th {
            font-weight: normal;
            border: 1px solid black;
            padding: 5px;
        }

        table {
            border-collapse: collapse;
            margin-left: 5px;
            margin-right: 5px;
        }

    </style>
</head>
<body>
<center>
    <h1>Аналитика по зарплатам и городам для<br>
        профессии {{ name }}</h1>
    {{image}}
    <div>
        <h2>Статистика по годам</h2>
        <table>
            <tr>
                <th><strong>Год</strong></th>
                <th><strong>Средняя зарплата</strong></th>
                <th><strong>Средняя зарплата<br>
                    {{name}}</strong>
                </th>
                <th><strong>Количество вакансий</strong></th>
                <th><strong>Количество вакансий -<br>
                    {{name}}</strong>
                </th>
            </tr>
            {% for key in dict_salary.keys() %}
            <tr>
                <th>{{key}}</th>
                <th>{{dict_salary[key]}}</th>
                <th>{{dict_salary_name[key]}}</th>
                <th>{{dict_quantity[key]}}</th>
                <th>{{dict_quantity_name[key]}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h2>Статистика по городам</h2>
    <div style="float:left;">
        <table width=425px>
            <tr>
                <th><strong>Город</strong></th>
                <th><strong>Уровень зарплат</strong></th>
            </tr>
            <tr>
                {% for key in dict_salary_city.keys() %}
            <tr>
                <th>{{key}}</th>
                <th>{{dict_salary_city[key]}}</th>
            </tr>
            {% endfor %}

        </table>

        <br/><br/>
    </div>
    <div style="float:right;">
        <table width=425px>
            <tr>
                <th><strong>Город</strong></th>
                <th><strong>Доля вакансий</strong></th>
            </tr>
            {% for key in dict_vacancy_share.keys() %}
            <tr>
                <th>{{key}}</th>
                <th>{{"{:.2f}".format(dict_vacancy_share[key]*100) +'%'}}</th>
            </tr>
            {% endfor %}

        </table>
    </div>
</center>
</body>
</html>